<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfit.jiudukeji.dao.JdSpuSpecMapper">
  <resultMap id="BaseResultMap" type="com.nfit.jiudukeji.entity.JdSpuSpec">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="spu_id" jdbcType="INTEGER" property="spu_id" />
    <result column="spec_id" jdbcType="INTEGER" property="spec_id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmt_create" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmt_update" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jd_spu_spec
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nfit.jiudukeji.entity.JdSpuSpec">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jd_spu_spec (id, spu_id, spec_id, 
      gmt_create, gmt_update)
    values (#{id,jdbcType=INTEGER}, #{spu_id,jdbcType=INTEGER}, #{spec_id,jdbcType=INTEGER}, 
      #{gmt_create,jdbcType=TIMESTAMP}, #{gmt_update,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nfit.jiudukeji.entity.JdSpuSpec">
    update jd_spu_spec
    set spu_id = #{spu_id,jdbcType=INTEGER},
      spec_id = #{spec_id,jdbcType=INTEGER},
      gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      gmt_update = #{gmt_update,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, spu_id, spec_id, gmt_create, gmt_update
    from jd_spu_spec
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, spu_id, spec_id, gmt_create, gmt_update
    from jd_spu_spec
  </select>
</mapper>